/* styles.css */
body {
    font-family: "Press Start 2P", sans-serif; 
    margin: 0;
    padding: 0;
    background-color: #000; 
    color: #fff; 
    text-shadow: 2px 2px 4px #000; 
    background-image: url('https://images.pexels.com/photos/1670977/pexels-photo-1670977.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

header {
    background-color: rgba(0, 0, 0, 0.7); 
    color: #fff;
    text-align: center;
    padding: 5px 0;
}


.container {
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
    padding: 10px;
}

#sketch-id {
    margin: 0 auto;
    display: block;
}

h1 {
    font-size: 36px;
}

h2 {
    font-size: 24px; 
}

.connect-button{
    background-color: #0074cc; 
    color: #fff;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    font-size: 16px;
}

.connect-button:hover {
    background-color: #005ca3; 
}
.logout-button {
    background-color: #e4381a; /* Blue button background */
    color: #fff;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    font-size: 16px;

}

.logout-button:hover {
    background-color: #ff000f; 
}
