/* styles.css */
body {
    font-family: "Press Start 2P", sans-serif; /* Retro gaming font */
    margin: 0;
    padding: 0;
    background-color: #000; /* Dark background */
    color: #fff; /* White text color */
    text-shadow: 2px 2px 4px #000; /* Text shadow for retro effect */
    background-image: url('https://images.pexels.com/photos/1670977/pexels-photo-1670977.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed; /* Fixed background */
}

header {
    background-color: rgba(0, 0, 0, 0.7); /* Black with 70% opacity */
    color: #fff;
    text-align: center;
    padding: 5px 0;
}


.container {
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
    padding: 10px;
}

#sketch-id {
    margin: 0 auto;
    display: block;
}

h1 {
    font-size: 36px;
}

h2 {
    font-size: 24px; 
}

.connect-button, .logout-button {
    background-color: #0074cc; /* Blue button background */
    color: #fff;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    font-size: 16px;
}

.connect-button:hover, .logout-button:hover {
    background-color: #005ca3; /* Darker blue on hover */
}
